{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block page-title %} {{ company.name }} {% endblock %}</title>

    <!-- core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">
{% endblock %}
</head><!--/head-->

<body class="homepage">

    <!-- Facebook widget script -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    {% if user.is_authenticated %}
                    <div class="col-sm-4 col-xs-4">
                    {% else %}
                    <div class="col-sm-6 col-xs-4">
                    {% endif %}
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  {{ company.phones }}</p></div>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-sm-4 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-user"></i> Logado como <b>{{ user.username}}</b> - <a href="{% url 'admin_home' %}">Painel do Administrador</a> </p></div>
                    </div>
                        <div class="col-sm-4 col-xs-4">
                    {% else %}
                        <div class="col-sm-6 col-xs-8">
                    {% endif %}
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="{{ company.facebook_page }}"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><img width="110px" height="80" src="{% static 'images/logo.png' %}" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        {% block nav-links %}
                            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'us_who' %}">Quem somos</a></li>
                            <li><a href="{% url 'services' %}">Serviços</a></li>
                            <li><a href="{% url 'budget' %}">Orçamentos</a></li>
                            <li><a href="{% url 'join_us' %}">Trabalhe conosco</a></li>
                            <li><a href="{% url 'contact' %}">Fale conosco</a></li>
                        {% endblock %}
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header><!--/header-->

    <div class="row">
      {% block flash-messages %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible alert-{{message.tags}}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <p align="center"><strong>{{message}}</strong></p>
            </div>
          {% endfor %}
        {% endif %}
      {% endblock %}
    </div>

    {% block page-content %}
    {% endblock %}

    <section id="bottom"></section>

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank" href="{{ company.facebook_page }}">{{ company.name }}</a>. By <a target="_blank" href="https://github.com/italopaiva">Ítalo Paiva</a>.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'services' %}">Serviços</a></li>
                        <li><a href="{% url 'budget' %}">Orçamento</a></li>
                        <li><a href="{% url 'join_us' %}">Trabalhe conosco</a></li>
                        <li><a href="{% url 'contact' %}">Fale conosco</a></li>
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'login' %}"><i class='fa fa-sign-in'></i></a></li>
                        {% else %}
                            <li><a href="{% url 'logout' %}"><i class='fa fa-sign-out'></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-filestyle.min.js' %}"></script>

    {% block body-javascript %}
    {% endblock %}
</body>
</html>