{% extends 'base.html' %}
{% load bootstrap3 %}

{% block page-content %}

<section>
  <div class="container">
    <div class="center wow fadeInDown">
      <h2>Do que você precisa?</h2>
      <p class="lead">Diga-nos do que precisa e nós faremos uma proposta inicial!</p>
    </div>
    <form class="contact-form" method="POST" action="{% url 'new_budget' %}">
      {% csrf_token %}
      <div class="row contact-wrap">
        <div class="col-md-6 col-sm-6">
          <br>
          {% bootstrap_form form %}
        </div>
        <div class="col-md-6 col-sm-6">
          <h2>De quais funcionários precisa?</h2>
          {{service_form}}
        </div>
      </div><!--/.row-->
      <br>
      <div class="row">
        <div class="form-group">
            <button type="submit" name="submit" class="btn btn-primary btn-lg btn-block">Solicitar orçamento!</button>
        </div>
      </div>
    </form>
  </div><!--/.container-->
</section><!--/#contact-page-->

{% endblock %}