{% extends 'base.html' %}

{% block page-content %}
<section id="contact-info">
    <div class="center wow fadeInDown">
        <h2>Como nos encontrar?</h2>
        <p class="lead">Você tem várias opções para nos contactar! Veja como:</p>
    </div>
    <div class="gmap-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <div class="gmap">
                        <iframe width="600" height="450" frameborder="0" style="border:0" src="{{ company.maps_url }}" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-sm-7 map-content">
                    <ul class="row">
                        <li class="col-sm-6">
                            <address>
                                <center><h4>Sede</h4></center>
                                <h5>{{ company.owner }}</h5>
                                <p> {{ company.address }} </p>
                                <p><b>Telefone:</b> {{ company.phones }} <br>
                                <b>E-mail:</b> {{ company.email }} </p>
                            </address>
                        </li>
                        <li class="col-sm-6">
                            <address>
                                <div class="fb-page" data-href="https://www.facebook.com/Evolu%C3%A7%C3%A3o-Consultoria-e-RH-1051171778261772/?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Evolu%C3%A7%C3%A3o-Consultoria-e-RH-1051171778261772/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Evolu%C3%A7%C3%A3o-Consultoria-e-RH-1051171778261772/?fref=ts">Evolução Consultoria e RH</a></blockquote></div>
                            </address>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>  <!--/gmap_area -->
{% endblock %}